---
interface Props{
    class: string
    img: string
    alt?: string
    url?: string
}

const { img, alt, url } = Astro.props
---
<div class={`
    ${Astro.props.class}
    mx-auto    
`}>
    {url && <a href={url} target="_blank" class="relative">
        <img 
            src={img} 
            alt={alt} 
            class="rounded-xl
                    blackdrop-blur-md
                    border border-black/10
                    shadow-inner shadow-white/10"
        />
    </a>}
    {!url && <img src={img} alt={alt} />}
</div>